<div class="card shadow-lg rounded-4 mb-5 border-0 bg-light">
  <div class="card-body px-5 py-4 text-center">
    <h2 class="fw-bold text-dark mb-4">
      <%= @event.title %>
    </h2>

    <p class="text-muted mb-4">
      <i class="bi bi-calendar-event me-1 fs-5 text-primary"></i>
      <%= @event.start_time.strftime("%Y年%m月%d日 %H:%M") %>
    </p>

    <p class="text-muted mb-4">
      <i class="bi bi-geo-alt-fill me-1 fs-5 text-danger"></i>
      <%= @event.location.presence || "場所未定" %>
    </p>

    <div class="text-body s-5 mb-4 px-3">
      <%= simple_format(@event.description) %>
    </div>

    <span class="badge bg-secondary text-white px-3 py-2 rounded-pill me-3">
      <i class="bi bi-person"></i>
      作成者: <%= @event.user.name || @event.user.email %>
    </span>

    <span class="badge bg-info text-dark px-3 py-2 rounded-pill">
      <i class="bi bi-tag"></i>
      <%= @event.category.name %>
    </span>
    
    <% if @event.user == current_user %>
      <div class="mt-4">
      <%= link_to "編集", edit_user_event_path(current_user, @event),
                          class: "btn btn-outline-warning btn-sm me-3" %>
      <%= link_to "削除", user_event_path(current_user, @event),
                         data: { turbo_method: :delete, tubro_confirm: "本当に削除しますか？" },
                         class: "btn btn-outline-danger btn-sm" %>
      </div>
    <% end %>
  </div>
</div>

<% if @event.finished? %>
  <div class="mb-4">
    <h4 class="mb-3">レビューを投稿する</h4>
    <% if current_user.reviews.any? %>
      <p class="text-center">既にレビュー済みです。</p>
    <% else %>
      <%= render "reviews/form" %>
    <% end %>
  </div>

  <div class="mb-5">
    <% if @event.reviews.exists?(event: @event) %>
      <h4 class="mb-3">レビュー</h4>
      <% @event.reviews.each do |review| %>
        <%= render "reviews/review", event: @event, review: review %>
      <% end %>
    <% end %>
  </div>
<% end %>
