<%= turbo_frame_tag "review_#{review.id}" do %>
  <%= form_with(model: review, url: event_review_path(event, review), data: { turbo_frame: "review_#{review.id}"}) do |f| %>
    <div class="mb-3">
      <%= f.label :star_rating, "評価(1~5)", class: "form-label" %>
      <div class="star-rating">
        <% 5.downto(1) do |i| %>
          <%= f.radio_button :star_rating, i, id: "star#{i}" %>
          <label for="star<%= i %>" class="star">
            ★
          </label>
        <% end %>
      </div>
    </div>

    <div class="mb-3">
      <%= f.label :body, "コメント", class: "form-label" %>
      <%= f.text_area :body, rows: 3, class: "form-control" %>
    </div>

    <div class="d-flex justify-content-end">
      <%= link_to "キャンセル", user_event_path(event.user, event), class: "btn btn-sm btn-outline-secondary me-2" %>
      <%= f.submit "更新", class: "btn btn-sm btn-outline-primary" %>
    </div>
  <% end %>
<% end %>
